/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content
  .attachment-gallery.attachment-gallery--2
  > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment,
.trix-content
  .attachment-gallery.attachment-gallery--4
  > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

trix-toolbar .trix-button--icon-link::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M18.948 5.258a4.337 4.337 0 0 0-6.108 0L11.217 6.87a.993.993 0 0 0 0 1.41c.392.39 1.027.39 1.418 0l1.623-1.613a2.323 2.323 0 0 1 3.271 0 2.29 2.29 0 0 1 0 3.251l-2.393 2.38a3.021 3.021 0 0 1-4.255 0l-.05-.049a1.007 1.007 0 0 0-1.418 0 .993.993 0 0 0 0 1.41l.05.049a5.036 5.036 0 0 0 7.091 0l2.394-2.38a4.275 4.275 0 0 0 0-6.072Zm-13.683 13.6a4.337 4.337 0 0 0 6.108 0l1.262-1.255a.993.993 0 0 0 0-1.41 1.007 1.007 0 0 0-1.418 0L9.954 17.45a2.323 2.323 0 0 1-3.27 0 2.29 2.29 0 0 1 0-3.251l2.344-2.331a2.579 2.579 0 0 1 3.631 0c.392.39 1.027.39 1.419 0a.993.993 0 0 0 0-1.41 4.593 4.593 0 0 0-6.468 0l-2.345 2.33a4.275 4.275 0 0 0 0 6.072Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  opacity: 1 !important;
}

trix-toolbar .trix-button--icon-heading-1::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M21.5 7.5v-3h-12v3H14v13h3v-13h4.5ZM9 13.5h3.5v-3h-10v3H6v7h3v-7Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

trix-toolbar .trix-button--icon-quote::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' d='M4.581 8.471c.44-.5 1.056-.834 1.758-.995C8.074 7.17 9.201 7.822 10 8.752c1.354 1.578 1.33 3.555.394 5.277-.941 1.731-2.788 3.163-4.988 3.56a.622.622 0 0 1-.653-.317c-.113-.205-.121-.49.16-.764.294-.286.567-.566.791-.835.222-.266.413-.54.524-.815.113-.28.156-.597.026-.908-.128-.303-.39-.524-.72-.69a3.02 3.02 0 0 1-1.674-2.7c0-.905.283-1.59.72-2.088Zm9.419 0c.44-.5 1.055-.834 1.758-.995 1.734-.306 2.862.346 3.66 1.276 1.355 1.578 1.33 3.555.395 5.277-.941 1.731-2.789 3.163-4.988 3.56a.622.622 0 0 1-.653-.317c-.113-.205-.122-.49.16-.764.294-.286.567-.566.791-.835.222-.266.412-.54.523-.815.114-.28.157-.597.026-.908-.127-.303-.39-.524-.72-.69a3.02 3.02 0 0 1-1.672-2.701c0-.905.283-1.59.72-2.088Z'/%3E%3C/svg%3E");
}

trix-toolbar .trix-button--icon-code::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M3.293 11.293a1 1 0 0 0 0 1.414l4 4a1 1 0 1 0 1.414-1.414L5.414 12l3.293-3.293a1 1 0 0 0-1.414-1.414l-4 4Zm13.414 5.414 4-4a1 1 0 0 0 0-1.414l-4-4a1 1 0 1 0-1.414 1.414L18.586 12l-3.293 3.293a1 1 0 0 0 1.414 1.414Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

trix-toolbar .trix-button--icon-bullet-list::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M5 7.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM8 6a1 1 0 0 1 1-1h11a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 5a1 1 0 1 0 0 2h11a1 1 0 1 0 0-2H9Zm0 6a1 1 0 1 0 0 2h11a1 1 0 1 0 0-2H9Zm-2.5-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM5 19.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

trix-toolbar .trix-button--icon-number-list::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M3 4h2v4H4V5H3V4Zm5 2a1 1 0 0 1 1-1h11a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 5a1 1 0 1 0 0 2h11a1 1 0 1 0 0-2H9Zm0 6a1 1 0 1 0 0 2h11a1 1 0 1 0 0-2H9Zm-3.5-7H6v1l-1.5 2H6v1H3v-1l1.667-2H3v-1h2.5ZM3 17v-1h3v4H3v-1h2v-.5H4v-1h1V17H3Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

trix-toolbar .trix-button--icon-decrease-nesting-level::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M5 6a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H6a1 1 0 0 1-1-1Zm4 5a1 1 0 1 0 0 2h9a1 1 0 1 0 0-2H9Zm-3 6a1 1 0 1 0 0 2h12a1 1 0 1 0 0-2H6Zm-3.707-5.707a1 1 0 0 0 0 1.414l2 2a1 1 0 1 0 1.414-1.414L4.414 12l1.293-1.293a1 1 0 0 0-1.414-1.414l-2 2Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

trix-toolbar .trix-button--icon-increase-nesting-level::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M5 6a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H6a1 1 0 0 1-1-1Zm4 5a1 1 0 1 0 0 2h9a1 1 0 1 0 0-2H9Zm-3 6a1 1 0 1 0 0 2h12a1 1 0 1 0 0-2H6Zm-2.293-2.293 2-2a1 1 0 0 0 0-1.414l-2-2a1 1 0 1 0-1.414 1.414L3.586 12l-1.293 1.293a1 1 0 1 0 1.414 1.414Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

trix-toolbar .trix-button--icon-attach::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M10.5 18V7.5c0-2.25 3-2.25 3 0V18c0 4.125-6 4.125-6 0V7.5c0-6.375 9-6.375 9 0V18'/%3E%3C/svg%3E");
  top: 8%;
  bottom: 4%;
}

trix-toolbar .trix-button--icon-undo::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M3 14a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H6.257c2.247-2.764 5.151-3.668 7.579-3.264 2.589.432 4.739 2.356 5.174 5.405a1 1 0 0 0 1.98-.283c-.564-3.95-3.415-6.526-6.825-7.095C11.084 7.25 7.63 8.377 5 11.39V8a1 1 0 0 0-2 0v6Zm2-1Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

trix-toolbar .trix-button--icon-redo::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M21 14a1 1 0 0 1-1 1h-6a1 1 0 1 1 0-2h3.743c-2.247-2.764-5.151-3.668-7.579-3.264-2.589.432-4.739 2.356-5.174 5.405a1 1 0 0 1-1.98-.283c.564-3.95 3.415-6.526 6.826-7.095 3.08-.513 6.534.614 9.164 3.626V8a1 1 0 1 1 2 0v6Zm-2-1Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}
