pre {
  background: #0d0d0d !important;
  color: #fff;
  font-family: "JetBrainsMono", monospace !important;
  padding: 0.75rem 1rem !important;
  border-radius: 0.5rem !important;

  code {
    color: inherit !important;
    padding: 0 !important;
    background: none !important;
    font-size: 0.8rem !important;
  }

  .hljs-comment,
  .hljs-quote {
    color: #616161 !important;
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-attribute,
  .hljs-tag,
  .hljs-name,
  .hljs-regexp,
  .hljs-link,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #f98181 !important;
  }

  .hljs-number,
  .hljs-meta,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params {
    color: #fbbc88 !important;
  }

  .hljs-string,
  .hljs-symbol,
  .hljs-bullet {
    color: #b9f18d !important;
  }

  .hljs-title,
  .hljs-section {
    color: #faf594 !important;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: #70cff8 !important;
  }

  .hljs-emphasis {
    font-style: italic !important;
  }

  .hljs-strong {
    font-weight: 700 !important;
  }
}
