<!-- Footer Container -->
<section class="pt-12 sm:pt-16">
  <!-- Newsletter CTA -->
  <div class="relative">
    <div class="absolute inset-x-0 bottom-0 h-1/2 bg-slate-900"></div>
    <div class="relative max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">
      <div
        class="relative px-5 py-12 overflow-hidden rounded-2xl bg-sky-700 sm:px-16 lg:py-14"
      >
        <!-- Background gradient -->
        <img
          src="./images/newsletter-bg.svg"
          alt=""
          class="absolute inset-0 object-cover object-right w-full h-full"
        />

        <!-- Content -->
        <div class="relative flex flex-col items-center w-full lg:flex-row">
          <div class="max-w-2xl text-center lg:pr-4 lg:text-left">
            <h3
              class="text-4xl font-semibold text-white font-display sm:text-5xl"
            >
              Subscribe to my newsletter
            </h3>
            <p
              class="max-w-lg mx-auto mt-4 text-lg text-sky-50 lg:mx-0 lg:mt-6"
            >
              Join 10,000+ designers and get creative site breakdowns, design
              musings and tips every Monday.
            </p>
          </div>

          <!-- Email form -->
          <form
            action="#"
            method="post"
            class="relative z-10 w-full max-w-lg mt-10 lg:mt-0"
          >
            <input
              type="email"
              class="h-14 w-full rounded-full border-0 bg-white/10 py-3.5 pl-5 pr-32 text-sm leading-5 text-sky-50 placeholder-sky-100/90 outline-none ring-1 ring-white/25 backdrop-blur duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-white/30 sm:pl-6"
              required
              placeholder="Enter your email"
              autocomplete="email"
            />
            <button
              type="submit"
              class="absolute right-1.5 top-1.5 inline-flex h-11 items-center rounded-full bg-sky-900 py-3 px-5 text-sm font-semibold text-sky-50 outline-none transition duration-200 ease-in-out hover:bg-sky-800 focus:outline-none sm:px-7 sm:text-md"
            >
              Subscribe
            </button>
          </form>
        </div>

        <!-- Background illustration -->
        <svg
          width="390"
          height="319"
          viewBox="0 0 390 319"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute h-auto -bottom-24 -right-24 w-96"
        >
          <g clip-path="url(#clip0_776_176)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M34.873 301.123C49.0025 238.088 107.966 211.273 168.222 240.483C190.777 251.415 197.856 250.42 211.586 234.377C220.916 223.483 223.457 215.284 224.068 194.133C224.954 163.469 225.473 162.37 239.847 160.666C250.341 159.421 259.073 160.089 274.02 163.287C313.702 171.778 324.748 165.182 323.138 133.968C321.464 101.499 325.66 87.1588 339.61 77.7183C348.575 71.6569 364.263 74.9076 362.796 82.5308C362.452 84.3148 362.19 84.3623 357.066 83.5862C350.182 82.5361 346.096 84.1821 340.699 90.1724C333.329 98.3593 331.997 107.044 333.336 138.233C334.814 172.771 317.209 182.6 271.916 172.519C253.722 168.47 235.489 168.412 234.734 172.404C234.154 175.443 233.647 184.125 233.256 197.636C232.676 217.794 230.011 225.964 219.795 238.868C202.835 260.3 190.736 262.128 162.105 247.584C113.637 222.966 64.0667 239.682 43.7277 287.505C37.8764 301.26 36.147 311.316 39.5467 311.777C42.3563 312.164 42.3507 315.929 39.5424 316.676C34.5673 317.996 32.5764 311.363 34.873 301.123ZM31.4012 252.649C39.787 224.248 61.9305 205.695 98.0315 196.825C111.849 193.428 118.55 194.274 145.18 202.775C177.686 213.148 193.604 195.483 183.07 160.728C177.917 143.711 178.25 132.213 184.147 123.702C191.731 112.754 197.513 112.503 223.954 121.975C252.445 132.177 274.213 119.132 270.161 94.2783C266.166 69.8088 265.939 65.2565 268.455 59.8844C274.19 47.6362 284.622 41.7789 304.56 39.6119C316.853 38.2772 318.239 37.9382 322.714 35.2211C328.814 31.5151 329.161 31.4938 329.553 34.7756C330.455 42.3298 323.607 46.1775 305.912 48.0687C280.567 50.7763 271.167 60.4362 276.038 78.7691C282.908 104.614 281.524 113.716 269.125 124.198C253.911 137.07 242.086 138.409 218.365 129.965C197.907 122.68 196.704 122.541 192.655 127.027C186.891 133.408 186.763 141.122 192.13 159.012C199.722 184.335 195.92 199.94 179.598 210.438C168.464 217.598 160.67 217.467 137.309 209.722C113.938 201.97 106.128 201.741 86.4548 208.238C67.7582 214.408 57.4748 221.2 47.0923 234.241C35.0198 249.397 29.7124 267.23 37.5496 266.294C39.0121 266.12 39.9697 266.55 40.0747 267.429C40.3241 269.518 34.334 269.995 32.1043 268.066C29.4844 265.797 29.222 260.026 31.4012 252.649ZM27.6647 220.983C32.306 201.179 50.1519 183.357 72.5364 176.182C79.8321 173.842 82.1283 173.673 100.744 174.072C134.377 174.789 144.756 165.23 143.829 134.387C143.162 112.195 145.712 102.885 155.687 91.1309C168.071 76.5394 175.321 74.2615 195.275 78.6894C224.042 85.0708 237.609 75.3248 235.913 49.4834C234.852 33.2737 237.487 26.786 247.921 19.9318C260.021 11.983 294.501 7.70851 295.26 14.0653C295.541 16.4242 296.926 16.1056 274.143 18.923C244.291 22.6166 241.738 24.951 243.253 47.1383C245.415 78.7542 226.798 93.2468 193.506 85.8604C176.37 82.0564 172.722 83.0528 162.11 94.4108C153.044 104.115 150.621 112.414 151.153 131.947C152.232 171.648 138.717 183.401 95.4441 180.398C72.8278 178.826 54.0187 186.608 40.8705 202.965C32.1592 213.801 28.051 228.813 32.9068 232.042C35.0911 233.487 35.0391 234.958 32.7994 235.226C27.9953 235.799 25.6915 229.405 27.6647 220.983Z"
              fill="#F0F9FF"
              fill-opacity="0.1"
            />
          </g>
          <defs>
            <clipPath id="clip0_776_176">
              <rect
                width="277.68"
                height="358.714"
                fill="white"
                transform="matrix(0.118567 0.992946 0.992946 -0.118567 0 42.5317)"
              />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer
    class="pt-20 pb-8 overflow-hidden bg-slate-900 sm:pt-24 sm:pb-12 lg:pt-32"
  >
    <!-- Container -->
    <div class="max-w-screen-xl px-5 mx-auto sm:px-6 lg:px-8">
      <!-- Call to action -->
      <div
        class="grid items-center max-w-xl gap-5 mx-auto lg:mx-0 lg:max-w-none lg:grid-cols-12 lg:gap-12 xl:gap-20"
      >
        <div class="lg:col-span-7">
          <h3
            class="text-4xl font-semibold text-center text-white font-display sm:text-5xl lg:max-w-xl lg:text-left"
          >
            Lets make something great together
          </h3>
          <div class="hidden lg:block">
            <!-- Call to action button for large screens -->
            <a
              target="_blank"
              href="https://calendly.com/timcareycodez"
              class="mt-12 bg-white hover:bg-sky-50 text-slate-700 inline-flex items-center rounded-full gap-2.5 justify-center px-7 py-3 text-md font-semibold leading-none outline-offset-2 transition-all duration-200 ease-in-out active:transition-none"
            >
              Book a call
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
        </div>
        <div class="flex flex-col items-center lg:col-span-5 lg:items-start">
          <p class="text-lg text-center text-slate-50 lg:max-w-sm lg:text-left">
            Iced pumpkin ristretto irish trifecta robusta trade froth affogato
            barista con barista cappuccino filter roast.
          </p>

          <!-- Call to action button for small screens -->
          <a
            href="https://calendly.com/timcareycodez"
            class="mt-10 inline-flex items-center justify-center gap-x-2.5 rounded-full bg-white py-3 px-7 text-md font-semibold leading-none text-slate-700 duration-200 ease-in-out hover:bg-sky-50 lg:hidden"
          >
            Book a call
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-5 h-5"
            >
              <path
                fill-rule="evenodd"
                d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                clip-rule="evenodd"
              />
            </svg>
          </a>

          <!-- Social links -->
          <div
            class="mt-16 grid w-full max-w-sm grid-cols-2 gap-3.5 sm:max-w-none sm:grid-cols-3 lg:mt-8 lg:gap-2.5 xl:gap-3.5"
          >
            <!-- Email -->
            <a
              href="mailto:timcarey1989@gmail.com"
              class="flex items-center justify-center gap-2.5 rounded-full border border-slate-600/90 py-2.5 text-sm text-slate-50 duration-200 ease-in-out hover:bg-slate-800 hover:text-white lg:gap-2 xl:gap-2.5"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="w-4 h-4 duration-200 ease-in-out shrink-0 text-slate-200 group-hover:fill-slate-100"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                />
              </svg>
              Email me
            </a>

            <!-- Twitter -->
            <a
              target="_blank"
              href="https://twitter.com/TimCareyCodez"
              class="flex items-center justify-center gap-2.5 rounded-full border border-slate-600/90 py-2.5 text-sm text-slate-50 duration-200 ease-in-out hover:bg-slate-800 hover:text-white lg:gap-2 xl:gap-2.5"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-4 h-4 duration-200 ease-in-out shrink-0 text-slate-200 group-hover:fill-slate-100"
              >
                <g>
                  <path
                    d="M24,4.6c-0.9,0.4-1.8,0.7-2.8,0.8c1-0.6,1.8-1.6,2.2-2.7c-1,0.6-2,1-3.1,1.2c-0.9-1-2.2-1.6-3.6-1.6 c-2.7,0-4.9,2.2-4.9,4.9c0,0.4,0,0.8,0.1,1.1C7.7,8.1,4.1,6.1,1.7,3.1C1.2,3.9,1,4.7,1,5.6c0,1.7,0.9,3.2,2.2,4.1 C2.4,9.7,1.6,9.5,1,9.1c0,0,0,0,0,0.1c0,2.4,1.7,4.4,3.9,4.8c-0.4,0.1-0.8,0.2-1.3,0.2c-0.3,0-0.6,0-0.9-0.1c0.6,2,2.4,3.4,4.6,3.4 c-1.7,1.3-3.8,2.1-6.1,2.1c-0.4,0-0.8,0-1.2-0.1c2.2,1.4,4.8,2.2,7.5,2.2c9.1,0,14-7.5,14-14c0-0.2,0-0.4,0-0.6 C22.5,6.4,23.3,5.5,24,4.6z"
                  ></path>
                </g>
              </svg>

              Twitter
            </a>

            <!-- LinkedIn -->
            <a
              target="_blank"
              href="https://www.linkedin.com/in/tim-carey-9a45b91b9/"
              class="flex items-center justify-center gap-2.5 rounded-full border border-slate-600/90 py-2.5 text-sm text-slate-50 duration-200 ease-in-out hover:bg-slate-800 hover:text-white lg:gap-2 xl:gap-2.5"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="16"
                viewBox="0 0 18 16"
                fill="currentColor"
                class="w-4 h-4 duration-200 ease-in-out shrink-0 text-slate-200 group-hover:fill-slate-100"
              >
                <path
                  d="M16.5128 0H0.717949C0.287179 0 0 0.266667 0 0.666667V15.3333C0 15.7333 0.287179 16 0.717949 16H16.5128C16.9436 16 17.2308 15.7333 17.2308 15.3333V0.666667C17.2308 0.266667 16.9436 0 16.5128 0ZM5.09744 13.6667H2.58462V6H5.16923V13.6667H5.09744ZM3.80513 4.93333C3.01538 4.93333 2.29744 4.33333 2.29744 3.53333C2.29744 2.8 2.94359 2.13333 3.80513 2.13333C4.59487 2.13333 5.31282 2.73333 5.31282 3.53333C5.31282 4.33333 4.66667 4.93333 3.80513 4.93333ZM14.7179 13.6667H12.1333V9.93333C12.1333 9.06667 12.1333 7.93333 10.841 7.93333C9.47692 7.93333 9.33333 8.86667 9.33333 9.86667V13.6667H6.74872V6H9.18974V7.06667C9.54872 6.46667 10.3385 5.86667 11.6308 5.86667C14.2154 5.86667 14.7179 7.46667 14.7179 9.53333V13.6667Z"
                />
              </svg>

              LinkedIn
            </a>

            <!-- Github -->
            <a
              target="_blank"
              href="https://www.github.com/tim-carey-code"
              class="flex items-center justify-center gap-2.5 rounded-full border border-slate-600/90 py-2.5 text-sm text-slate-50 duration-200 ease-in-out hover:bg-slate-800 hover:text-white lg:gap-2 xl:gap-2.5"
            >
              <%= image_tag "github-icon-svgrepo-com.svg", class: "w-4 h-4 duration-200 ease-in-out shrink-0 text-slate-200 group-hover:fill-slate-100" %>
              Github
            </a>
          </div>
        </div>
      </div>

      <hr
        class="w-full h-px mt-12 mb-6 border-slate-600/90 sm:mt-16 sm:mb-10"
      />

      <!-- Footer links & copyright text -->
      <div class="flex flex-col items-center justify-between md:flex-row">
        <!-- Site links -->
        <div class="flex items-center gap-6">
          <a
            href="index.html"
            class="text-base font-medium duration-200 ease-in-out text-slate-100 hover:text-white"
          >
            Home
          </a>
          <a
            href="about.html"
            class="text-base font-medium duration-200 ease-in-out text-slate-100 hover:text-white"
          >
            About
          </a>
          <a
            href="work.html"
            class="text-base font-medium duration-200 ease-in-out text-slate-100 hover:text-white"
          >
            Work
          </a>
          <a
            href="blog.html"
            class="text-base font-medium duration-200 ease-in-out text-slate-100 hover:text-white"
          >
            Blog
          </a>
          <a
            href="contact.html"
            class="text-base font-medium duration-200 ease-in-out text-slate-100 hover:text-white"
          >
            Contact
          </a>
        </div>

        <!-- Copyright text -->
        <p class="mt-8 text-base text-slate-400/90 md:mt-0">
          © 2023 Tim Carey Software. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
</section>
